#main {
    box-shadow: 0 0 0.5em 0.5em #00000010;
    height: 90%;
}

#clear,
#pause {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    background: #ffffff80;

    .kakomi {
        h2 {
            width: 100%;
            text-align: center;
            border-bottom: 0.03em solid #111;
            padding-bottom: 0.1em;
            font-weight: 400;
        }

        border-radius: 0.1em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 33%;
        height: 50%;
        padding: 1em 2em;
        border: 0.05em solid #111;

        gap: 1em;

        background: #f8f8f8;
    }
}
